%h2
  AgileZen - XLSXexporter

%form{:action=>"/generate", :method=>"post"}

  %label
    ApiKey
  
  %input{:type=>"text", :name=>"apikey"}
  %br
  %br
  %input{:type=>"submit", :value=>"Generar"}
  
  %label
    ProjectID
  
  %input{:type=>"text", :name=>"projectid"}
  %br
  
